.wgs {
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  width: 640px;
  height: 498px;
  overflow: hidden;
}

#wgs__mole-head {
  height: 376px;
  width: 378px;
  margin-left: 108px;
  position: absolute;
  transition: bottom 0.25s ease-in-out;
  bottom: -376px; /* Start hidden below the container */
}

#wgs__dirt-pile {
  width: 640px;
  height: 220px;
  position: absolute;
  bottom: 0;
  z-index: 1; /* Ensure dirt pile is above the mole */
}

/* Remove or comment out the .wgs__mole-head--hidden class */